@use "../base/variables" as *;

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);
    font-size: 1rem;
    font-weight: var(--fw-normal);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}