@use "../base/variables" as *;

body {
    background-color: var(--bg-main);
    background-image: url("../../images/bg-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    padding: 5vh 0;
    color: var(--primary-text);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    font-size: 1rem;
    position: relative;
}

header,
main {
    width: 85%;
    margin: 0 auto;
}

main {
    text-align: center;
    margin-top: rem(50px);
}

h1 {
    font-family: var(--ff-secondary);
    font-size: rem(24px);
    line-height: 1.6;
    margin-bottom: em(20px, 24px);
    font-weight: var(--fw-semi-bold);
}

p {
    font-size: rem(17px);
    margin-bottom: 2em;
}

footer {
    display: flex;
    gap: rem(10px);
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}