@use "../base/variables" as *;

body {
    background-color: var(--bg-main);
    background-image: url("../../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 5vh 0;
    color: var(--primary-text);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    font-size: 1rem;
    position: relative;
}

header,
main,
.container {
    width: 85%;
    margin: 0 auto;
}

main {
    max-width: 510px;
    text-align: center;
    margin-top: rem(50px);
}

footer {
    display: flex;
    justify-content: center;
    gap: rem(10px);
    margin-top: rem(120px);
}